/* ================= HERO ================= */

.about-hero{

    background:#0d0d0d;
    min-height:100vh;
    display:flex;
    align-items:center;
    position:relative;
    overflow:hidden;

}

.about-hero::before{

    content:"";
    position:absolute;
    inset:0;

    background:

    linear-gradient(rgba(0,0,0,.70),
    rgba(0,0,0,.75)),

    url("../images/about-bg.jpg")
    center/cover;

    z-index:0;

}

.about-hero .container{

    position:relative;
    z-index:2;

}

.hero-tag{

    display:inline-block;
    color:#D4AF37;
    letter-spacing:3px;
    font-weight:700;
    margin-bottom:20px;

}

.about-hero h1{

    color:white;
    font-size:72px;
    font-weight:800;
    line-height:1.1;
    margin-bottom:25px;

}

.about-hero h1 span{

    display:block;
    color:#D4AF37;

}

.about-hero p{

    color:#d5d5d5;
    line-height:1.9;
    font-size:18px;
    margin-bottom:40px;

}

.hero-car{

    max-width:650px;
    animation:float 5s ease-in-out infinite;

}

@keyframes float{

0%{

transform:translateY(0);

}

50%{

transform:translateY(-15px);

}

100%{

transform:translateY(0);

}

}

/* Buttons */

.btn-gold{

    background:#D4AF37;
    color:#111;
    border-radius:50px;
    padding:15px 40px;
    font-weight:700;
    transition:.4s;

}

.btn-gold:hover{

    background:white;
    transform:translateY(-5px);

}

/* ================= ABOUT ================= */

.about-intro{

    padding:100px 0;
    background:#f8f8f8;

}

.section-tag{

    color:#D4AF37;
    font-weight:700;
    letter-spacing:2px;

}

.about-intro h2{

    font-size:48px;
    margin:20px 0;

}

.about-intro h2 span{

    color:#D4AF37;

}

.about-intro p{

    color:#555;
    line-height:1.9;
    margin-bottom:20px;

}

.about-info{

    display:flex;
    gap:60px;
    margin-top:35px;

}

.about-info h3{

    color:#D4AF37;
    font-size:42px;
    font-weight:700;

}

.about-info span{

    color:#666;

}

/* ================= Responsive ================= */

@media(max-width:991px){

.about-hero h1{

font-size:48px;

}

.about-info{

flex-direction:column;
gap:25px;

}

.hero-car{

margin-top:50px;

}

}

@media(max-width:576px){

.about-hero h1{

font-size:38px;

}

.hero-buttons a{

display:block;
width:100%;
margin-bottom:15px;

}

.about-intro h2{

font-size:32px;

}

}